.h6{
    background:#dedede;
    margin-top: 20px;
    padding:5px 8px;
    border-radius: 6px;
}
.subcat{
    margin-left:12px;
}
#notice{
    position:absolute;
}
.header{
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
    
}

